.section1{
	display:flex;
	justify-content: space-evenly;
	margin-top:50px;
	border:2px solid;
	padding:20px;
}
.topNews{
	width:800px;
	height:auto;

}
.section1Pic{
	width:100%;
	height:auto;
	align-self:center;
}

.right{
	border:2px solid;
	padding:20px 50px;
}

.section2{
	display:flex;
	justify-content: space-evenly;
	margin-top:50px;
	border:2px solid;
	padding:20px;
}
.section2News{
	width:300px;
	height:auto;
}
.section2Pic{
	width:100%;
	height:auto;
	align-self:center;
}

.right{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}